* {
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.indexBox {
	display: block;
}

#game {
	display: block;
	margin: 0 auto;
}

#btnSpin, #btnStopSpin {
	display: block;
	margin: 20px auto;
	font-size: 28px;
	width: 150px;
	height: 60px;
}

#btnStopSpin {
	background-color: red;	
}